body,
html {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1100px;
    margin-inline: auto;
    padding: 0 15px;
}

/* Header inicio */
.topo-header img {
    display: block;
    margin-inline: auto;
    padding: 15px 0;
}

.topo-menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
    margin: 20px 0;
    border: solid 2px black;
    border-right: none;
    border-left: none;
    font-weight: 500;
}

.topo-menu a {
    color: black;
    text-decoration: none;
}

/* Header Fim */

/* Introdução section Inicio */
.intro-section {
    text-align: center;
}

.intro-section h1 {
    font-size: 2.3rem;
}

.intro-section p {
    max-width: 900px;
    margin-inline: auto;
}
/* Introdução section Fim */

/* Conteúdo Principal Inicio*/
.secao-conteudo-principal {
    padding: 20px 0;
}

.topo-conteudo h3 {
    margin-bottom: 0;
}
.topo-conteudo p {
    margin-top: 0;
}

.topo-conteudo figure {
    margin: 30px 0;
}


/* Conteúdo Principal Fim */

