body,
html {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1100px;
    margin-inline: auto;
    padding: 0 15px;
}

/* Header inicio */
.topo-header img {
    display: block;
    margin-inline: auto;
    padding: 15px 0;
}

.topo-menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
    margin: 20px 0;
    border: solid 2px black;
    border-right: none;
    border-left: none;
    font-weight: 500;
}

.topo-menu a {
    color: black;
    text-decoration: none;
}

/* Header Fim */

/* Introdução section Inicio */
.intro-section {
    text-align: center;
}

.intro-section h1 {
    font-size: 2.3rem;
}

.intro-section p {
    max-width: 900px;
    margin-inline: auto;
}
/* Introdução section Fim */

/* Conteúdo Principal Inicio*/
.secao-conteudo-principal {
    padding: 20px 0;
}

.topo-conteudo h3 {
    margin-bottom: 0;
}
.topo-conteudo p {
    margin-top: 0;
}

.topo-conteudo figure {
    margin: 30px 0;
}
/* Conteúdo Principal Fim */

/*  Conteúdo secundário Inicio*/
.divisao-aside {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 40px;
    margin-top: 30px;
}

.secundario {
    position: sticky;
    height: 88vh;
    top: 20px;
    padding: 20px;
    border-left: solid 1px #6e6b6b97;
}

.secundario h2 {
    font-size: 19px;
}

.secundario nav ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
}

.secundario nav ul li {
    margin: 10px 0;
}
/* Conteúdo secundário Fim */

/* Footer inicio */
.footer {
    padding: 50px 0 10px 0;
    text-align: center;
}
/* Footer Fim */

/* Breakpoint */
@media( max-width: 768px ){
    .divisao-aside {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .secundario {
        padding-top: 0;
        border: none;
        height: auto;
    }

    .secundario nav {
        display: flex;
        justify-content: space-around;
    }
}